.contenedorproductos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 292827;
    color: white;
    width: auto;
    padding: 40px;
}
.productos{
    width: 250px;
    height: 280px;
    border: 2px solid rgba(254, 253, 255, 0.945);
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    background-color: #D8284C;
}
.imgproducto{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.contenedorImg{
    display: flex;
    justify-content: center;
}