.contenedorContacto{
    margin-top: 110px;
}

.tituloContacto{
    text-align: center;
}
.iframeMapa{
    padding: 0px 100px;
}

.textoContacto{
    padding:  20px;
    background-color: #D8284C;
}

.t3contacto{
    padding:  0px 100px;
}
.sectionContac{
    padding: 0px 50px;
}